openapi: 3.0.1
info:
  title: Quantum Coin Read API
  version: v1
servers:
  - url: https://relayread.dpapi.org
paths:
  '/latestblock':
    get:
      tags:
        - Read
      summary: Get latest block details
      operationId: GetLatestBlockDetails
      parameters:
        - name: x-request-id
          in: header
          required: false
          description: request id
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlockDetailsResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '429':
          description: Request was throttled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '503':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'

  '/blockchain':
    get:
      tags:
        - Read
      summary: Get blockchain details
      operationId: GetBlockchainDetails
      parameters:
        - name: x-request-id
          in: header
          required: false
          description: request id
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlockchainDetailsResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '429':
          description: Request was throttled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '503':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'

  '/account/{address}':
    get:
      tags:
        - Read
      summary: Get account details
      operationId: GetAccountDetails
      parameters:
        - name: address
          in: path
          required: true
          description: the string representing the address
          schema:
            type: string
        - name: x-request-id
          in: header
          required: false
          description: request id
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountDetailsResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '429':
          description: Request was throttled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '503':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
  '/account/{address}/transactions/{pageNumber}':
    get:
      tags:
        - Read
      summary: List transactions by address
      operationId: ListAccountTransactions
      parameters:
        - name: address
          in: path
          required: true
          description: The address of the account
          schema:
            type: string
        - name: pageNumber
          in: path
          required: true
          description: The page number
          schema:
            type: number
        - name: x-request-id
          in: header
          required: false
          description: request id
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAccountTransactionsResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '429':
          description: Request was throttled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '503':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
  '/transaction/{hash}':
    get:
      tags:
        - Read
      summary: Get Transaction
      operationId: GetTransactionDetails
      parameters:
        - name: hash
          in: path
          required: true
          description: The transaction hash
          schema:
            type: string
        - name: x-request-id
          in: header
          required: false
          description: request id
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '429':
          description: Request was throttled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '503':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'

components:
  schemas:
    BlockDetails:
      type: object
      properties:
        blockNumber:
          type: integer
          format: int64
          nullable: true
          description: The block number as of which the details were retrieved
      additionalProperties: false
    BlockDetailsResponse:
      type: object
      properties:
        result:
          allOf:
            - $ref: '#/components/schemas/BlockDetails'
    AccountDetails:
      type: object
      properties:
        balance:
          type: string
          nullable: true
        nonce:
          type: integer
          format: int64
          nullable: true
        blockNumber:
          type: integer
          format: int64
          nullable: true
          description: The block number as of which the details were retrieved
      additionalProperties: false
    AccountDetailsResponse:
      type: object
      properties:
        result:
          allOf:
            - $ref: '#/components/schemas/AccountDetails'
      additionalProperties: false
    TransactionType:
      enum:
        - CoinTransfer
        - NewToken
        - TokenTransfer
        - NewSmartContract
        - SmartContract
      type: string
    TransactionDetails:
      type: object
      properties:
        blockHash:
          type: string
          nullable: true
          description: The hash of the block in which the transaction was executed. If this transaction is pending or was discarded, this will be null.
        blockNumber:
          type: integer
          format: int64
          nullable: true
          description: The number of the block in which the transaction was executed. If this transaction is pending or was discarded, this will be null.
        from:
          type: string
          nullable: false
        gas:
          type: string
          nullable: false
        gasPrice:
          type: string
          nullable: false
        hash:
          type: string
          nullable: false
        input:
          type: string
          nullable: false
        isDiscarded:
          type: boolean
          nullable: true
        discardReason:
          type: string
          nullable: true
        nonce:
          type: integer
          format: int64
          nullable: false
        to:
          type: string
          nullable: true
        value:
          type: string
          nullable: false
        receipt:
          $ref: '#/components/schemas/TransactionReceipt'
      additionalProperties: false
    TransactionResponse:
      type: object
      properties:
        result:
          $ref: '#/components/schemas/TransactionDetails'
      additionalProperties: false
    TransactionReceipt:
      type: object
      properties:
        cumulativeGasUsed:
          type: string
          nullable: false
        effectiveGasPrice:
          type: string
          nullable: false
        gasUsed:
          type: string
          nullable: false
        status:
          type: string
          nullable: false
        hash:
          type: string
          nullable: false
        type:
          type: string
          nullable: false
      additionalProperties: false
    AccountTransactionCompact:
      type: object
      properties:
        hash:
          type: string
          nullable: false
        blockNumber:
          type: integer
          format: int64
        createdAt:
          type: string
          format: date-time
        from:
          type: string
          nullable: true
        to:
          type: string
          nullable: true
        value:
          type: string
          nullable: true
        txnFee:
          type: string
          nullable: true
        status:
          type: string
          nullable: true
        transactionType:
          $ref: '#/components/schemas/TransactionType'
        errorReason:
          type: string
          nullable: true
      additionalProperties: false
    ListAccountTransactionsResponse:
      type: object
      properties:
        pageCount:
          type: integer
          format: int64
        items:
          type: array
          items:
            $ref: '#/components/schemas/AccountTransactionCompact'
      additionalProperties: false
    BlockchainDetails:
      type: object
      properties:
        blockNumber:
          type: integer
          format: int64
        maxSupply:
          type: integer
          format: int64
        totalSupply:
          type: integer
          format: int64
        circulatingSupply:
          type: integer
          format: int64
        burntCoins:
          type: integer
          format: int64
        blockRewardsCoins:
          type: integer
          format: int64
        baseBlockRewardsCoins:
          type: integer
          format: int64
        txnFeeRewardsCoins:
          type: integer
          format: int64
        txnFeeBurntCoins:
          type: integer
          format: int64
        slashedCoins:
          type: integer
          format: int64
    BlockchainDetailsResponse:
      type: object
      properties:
        result:
          allOf:
            - $ref: '#/components/schemas/BlockchainDetails'
    ErrorResponseModel:
      type: object
      properties:
        message:
          type: string
          nullable: true
        status:
          type: integer
          format: int32
      additionalProperties: false
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-KEY
security:
  - ApiKeyAuth: [] # use the same name as under securitySchemes