openapi: 3.0.1
info:
  title: QuantumCoin Read API
  version: v1
servers:
  - url: https://sdk.readrelay.quantumcoinapi.com
paths:
  '/blockchaindetails':
    get:
      tags:
        - Read
      summary: Get blockchain details
      operationId: GetBlockchainDetails
      parameters:
        - name: x-request-id
          in: header
          required: false
          description: request id
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlockchainDetailsResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '429':
          description: Request was throttled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '503':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'


  '/latestblock':
    get:
      tags:
        - Read
      summary: Get latest block details
      operationId: GetLatestBlockDetails
      parameters:
        - name: x-request-id
          in: header
          required: false
          description: request id
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlockDetailsResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '429':
          description: Request was throttled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '503':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'

  '/block/{blockNumber}':
    get:
      tags:
        - Read
      summary: Get block details
      operationId: GetBlockDetails
      parameters:
        - name: x-request-id
          in: header
          required: false
          description: request id
          schema:
            type: string
        - name: blockNumber
          in: path
          required: true
          description: the number of the block
          schema:
            type: number
            format: int64
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlockDetailsResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '429':
          description: Request was throttled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '503':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
  '/blocks/{pageNumber}':
    get:
      tags:
        - Read
      summary: List blocks
      operationId: ListBlocks
      parameters:
        - name: pageNumber
          in: path
          required: true
          description: The page number
          schema:
            type: number
        - name: x-request-id
          in: header
          required: false
          description: request id
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListBlocksResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '429':
          description: Request was throttled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '503':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'

  '/validators/{pageNumber}':
    get:
      tags:
        - Read
      summary: List validators
      operationId: ListValidators
      parameters:
        - name: pageNumber
          in: path
          required: true
          description: The page number
          schema:
            type: number
        - name: x-request-id
          in: header
          required: false
          description: request id
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListValidatorsResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '429':
          description: Request was throttled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '503':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'

  '/transaction/{hash}':
    get:
      tags:
        - Read
      summary: Get Transaction
      operationId: GetTransactionDetails
      parameters:
        - name: hash
          in: path
          required: true
          description: The transaction hash
          schema:
            type: string
        - name: x-request-id
          in: header
          required: false
          description: request id
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '429':
          description: Request was throttled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '503':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'

  '/transactions/{pageNumber}':
    get:
      tags:
        - Read
      summary: List transactions
      operationId: ListTransactions
      parameters:
        - name: pageNumber
          in: path
          required: true
          description: The page number
          schema:
            type: number
        - name: x-request-id
          in: header
          required: false
          description: request id
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListTransactionsResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '429':
          description: Request was throttled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '503':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'


  '/account/{address}':
    get:
      tags:
        - Read
      summary: Get account details
      operationId: GetAccountDetails
      parameters:
        - name: address
          in: path
          required: true
          description: the string representing the account address
          schema:
            type: string
        - name: x-request-id
          in: header
          required: false
          description: request id
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountDetailsResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '429':
          description: Request was throttled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '503':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
  '/account/{address}/tokens/{pageNumber}':
    get:
      tags:
        - Read
      summary: List account tokens
      operationId: ListAccountTokens
      parameters:
        - name: address
          in: path
          required: true
          description: the string representing the account address
          schema:
            type: string
        - name: pageNumber
          in: path
          required: true
          description: The page number
          schema:
            type: number
        - name: x-request-id
          in: header
          required: false
          description: request id
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAccountTokensResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '429':
          description: Request was throttled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '503':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
  '/account/{address}/token/{contractAddress}':
    get:
      tags:
        - Read
      summary: Get account token details
      operationId: GetAccountTokenDetails
      parameters:
        - name: address
          in: path
          required: true
          description: the string representing the account address
          schema:
            type: string
        - name: contractAddress
          in: path
          required: true
          description: the string representing the token's contract address
          schema:
            type: string
        - name: x-request-id
          in: header
          required: false
          description: request id
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountTokenDetailsResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '429':
          description: Request was throttled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '503':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
  '/account/{address}/transactions/{pageNumber}':
    get:
      tags:
        - Read
      summary: List transactions by address
      operationId: ListAccountTransactions
      parameters:
        - name: address
          in: path
          required: true
          description: The address of the account
          schema:
            type: string
        - name: pageNumber
          in: path
          required: true
          description: The page number
          schema:
            type: number
        - name: x-request-id
          in: header
          required: false
          description: request id
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAccountTransactionsResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '429':
          description: Request was throttled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '503':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
  '/account/{address}/transactions/pending/{pageNumber}':
    get:
      tags:
        - Read
      summary: List pending transactions by address.
      operationId: ListAccountPendingTransactions
      parameters:
        - name: address
          in: path
          required: true
          description: The address of the account
          schema:
            type: string
        - name: pageNumber
          in: path
          required: true
          description: The page number
          schema:
            type: number
        - name: x-request-id
          in: header
          required: false
          description: request id
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAccountPendingTransactionsResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '429':
          description: Request was throttled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '503':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'



  '/token/{contractAddress}':
    get:
      tags:
        - Read
      summary: Get token details
      operationId: GetTokenDetails
      parameters:
        - name: contractAddress
          in: path
          required: true
          description: the string representing the token's contract address
          schema:
            type: string
        - name: x-request-id
          in: header
          required: false
          description: request id
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenDetailsResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '429':
          description: Request was throttled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '503':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'

  '/validator/{address}':
    get:
      tags:
        - Read
      summary: Get validator details
      operationId: GetValidatorDetails
      parameters:
        - name: address
          in: path
          required: true
          description: the address of the validator or the depositor
          schema:
            type: string
        - name: x-request-id
          in: header
          required: false
          description: request id
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidatorDetailsResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '429':
          description: Request was throttled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '503':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'

  '/report/staking/{pageNumber}':
    get:
      tags:
        - Read
      summary: List staking report
      operationId: ListStakingReport
      parameters:
        - name: pageNumber
          in: path
          required: true
          description: The page number
          schema:
            type: number
        - name: x-request-id
          in: header
          required: false
          description: request id
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListStakingReportResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '429':
          description: Request was throttled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '503':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'

  '/report/validator/{pageNumber}':
    get:
      tags:
        - Read
      summary: List validator report
      operationId: ListValidatorReport
      parameters:
        - name: pageNumber
          in: path
          required: true
          description: The page number
          schema:
            type: number
        - name: x-request-id
          in: header
          required: false
          description: request id
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListValidatorReportResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '429':
          description: Request was throttled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '503':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'

  '/report/block/{pageNumber}':
    get:
      tags:
        - Read
      summary: List block report
      operationId: ListBlockReport
      parameters:
        - name: pageNumber
          in: path
          required: true
          description: The page number
          schema:
            type: number
        - name: x-request-id
          in: header
          required: false
          description: request id
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListBlockReportResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '429':
          description: Request was throttled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '503':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'

  '/report/transaction/{pageNumber}':
    get:
      tags:
        - Read
      summary: List transaction report
      operationId: ListTransactionReport
      parameters:
        - name: pageNumber
          in: path
          required: true
          description: The page number
          schema:
            type: number
        - name: x-request-id
          in: header
          required: false
          description: request id
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListTransactionReportResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '429':
          description: Request was throttled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '503':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'

  '/report/specific-validator/{address}/{pageNumber}':
    get:
      tags:
        - Read
      summary: List specific validator report
      operationId: ListSpecificValidatorReport
      parameters:
        - name: pageNumber
          in: path
          required: true
          description: The page number
          schema:
            type: number
        - name: address
          in: path
          required: true
          description: The address of the validator or the depositor
          schema:
            type: string
        - name: x-request-id
          in: header
          required: false
          description: request id
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListSpecificValidatorReportResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '429':
          description: Request was throttled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '503':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'

components:
  schemas:
    BlockVoteType:
      enum:
        - VoteTypeOk
        - VoteTypeNil
      type: string
      description: The consensus vote type of the block
    Slashing:
      slashedAccount:
        type: string
        nullable: true
        description: The account address that got slashed
      slashedAmount:
        type: string
        nullable: true
        description: The amount of the slashing
    BlockConsensusDetails:
      type: object
      properties:
        blockProposer:
          type: string
          nullable: true
          description: The proposer of the block
        voteType:
          $ref: '#/components/schemas/TransactionType'
        proposalHash:
          type: string
          nullable: true
          description: The hash of the block proposal
        precommitHash:
          type: string
          nullable: true
          description: The hash of the precommit
        slashings:
          type: array
          items:
            $ref: '#/components/schemas/Slashing'
        rounds:
          type: integer
          nullable: true
          description: The number of voting rounds
        selectedTransactions:
          type: array
          items:
            type: string
        votedBlockTime:
          type: integer
          format: int64
          nullable: true
          description: The block time as voted
        blockProposerRewards:
          type: string
          nullable: true
          description: The rewards of the block proposer including transaction fees
        baseBlockProposerRewards:
          type: string
          nullable: true
          description: The rewards of the block proposer excluding transaction fee rewards
        transactionFeeRewards:
          type: string
          nullable: true
          description: The rewards from transaction fees
        burntTransactionFees:
          type: string
          nullable: true
          description: The total transaction fee that was burnt
        totalSlashAmount:
          type: string
          nullable: true
          description: The total amount slashed
    BlockDetails:
      type: object
      properties:
        blockNumber:
          type: integer
          format: int64
          nullable: true
          description: The block number as of which the details were retrieved
        hash:
          type: string
          nullable: true
          description: The hash of the block
        parentHash:
          type: string
          nullable: true
          description: The hash of the parent block
        stateRoot:
          type: string
          nullable: true
          description: The state root
        transactionsRoot:
          type: string
          nullable: true
          description: The transactions root
        receiptsRoot:
          type: string
          nullable: true
          description: The receipts root
        gasLimit:
          type: string
          nullable: true
          description: The gas limit
        gasUsed:
          type: string
          nullable: true
          description: The gas used
        blockTime:
          type: string
          format: date-time
          nullable: true
          description: The gas used
        transactionCount:
          type: number
          nullable: true
          description: The count of transactions in the block
        blockConsensusDetails:
          type: array
          items:
            $ref: '#/components/schemas/BlockConsensusDetails'
      additionalProperties: false
    BlockDetailsCompact:
      type: object
      properties:
        blockNumber:
          type: integer
          format: int64
          nullable: true
          description: The block number as of which the details were retrieved
        hash:
          type: string
          nullable: true
          description: The hash of the block
        parentHash:
          type: string
          nullable: true
          description: The hash of the parent block
        blockTime:
          type: string
          format: date-time
          nullable: true
          description: The gas used
        transactionCount:
          type: number
          nullable: true
          description: The count of transactions in the block
        blockProposer:
          type: string
          nullable: true
          description: The proposer of the block
      additionalProperties: false
    ListBlocksResponse:
      type: object
      properties:
        pageCount:
          type: integer
          format: int64
        items:
          type: array
          items:
            $ref: '#/components/schemas/BlockDetailsCompact'
    BlockDetailsResponse:
      type: object
      properties:
        result:
          allOf:
            - $ref: '#/components/schemas/BlockDetails'
    AccountDetails:
      type: object
      properties:
        address:
          type: string
          nullable: true
        accountType:
          $ref: '#/components/schemas/AccountType'
        balance:
          type: string
          nullable: true
        nonce:
          type: integer
          format: int64
          nullable: true
        code:
          type: string
          nullable: true
        blockNumber:
          type: integer
          format: int64
          nullable: true
      additionalProperties: false
    TransactionDetailsCompact:
      type: object
      properties:
        hash:
          type: string
          nullable: false
          description: The hash of the block
        blockNumber:
          type: integer
          format: int64
          nullable: false
          description: The block number as of which the details were retrieved
        createdAt:
          type: string
          format: date-time
          nullable: false
          description: The time the block was created
        from:
          type: string
          nullable: false
          description: The from address
        to:
          type: string
          nullable: true
          description: The to address
        value:
          type: string
          nullable: false
          description: The value in hex
        txnFee:
          type: string
          nullable: false
          description: The transaction fee in hex
        status:
          type: string
          nullable: false
          description: The status of the transaction. 0x1 means success, 0x0 means failure
        transactionType:
          $ref: '#/components/schemas/TransactionType'
        tokenTransaction:
          $ref: '#/components/schemas/TokenTransactionCompact'
    ListTransactionsResponse:
      type: object
      properties:
        pageCount:
          type: integer
          format: int64
        items:
          type: array
          items:
            $ref: '#/components/schemas/TransactionDetailsCompact'
    StakingReportCompact:
      type: object
      properties:
        totalStakedCoins:
          type: string
          nullable: false
        reportDate:
          type: string
          format: date-time
          nullable: false
    ListStakingReportResponse:
      type: object
      properties:
        pageCount:
          type: integer
          format: int64
        items:
          type: array
          items:
            $ref: '#/components/schemas/StakingReportCompact'
    ValidatorReportCompact:
      type: object
      properties:
        totalValidators:
          type: integer
          nullable: false
        reportDate:
          type: string
          format: date-time
          nullable: false
    ListValidatorReportResponse:
      type: object
      properties:
        pageCount:
          type: integer
          format: int64
        items:
          type: array
          items:
            $ref: '#/components/schemas/ValidatorReportCompact'
    SpecificValidatorReportCompact:
      type: object
      properties:
        totalOkBlocks:
          type: integer
          format: int64
          nullable: false
        totalNilBlocksOfflineValidator:
          type: integer
          format: int64
          nullable: false
        totalNilBlocksOther:
          type: integer
          format: int64
          nullable: false
        totalBlockRewardsCoins:
          type: string
          nullable: false
        totalSlashedCoins:
          type: string
          nullable: false
        reportDate:
          type: string
          format: date-time
          nullable: false
    ListSpecificValidatorReportResponse:
      type: object
      properties:
        pageCount:
          type: integer
          format: int64
        items:
          type: array
          items:
            $ref: '#/components/schemas/SpecificValidatorReportCompact'
    BlockReportCompact:
      type: object
      properties:
        totalBlocks:
          type: integer
          nullable: false
        reportDate:
          type: string
          format: date-time
          nullable: false
    ListBlockReportResponse:
      type: object
      properties:
        pageCount:
          type: integer
          format: int64
        items:
          type: array
          items:
            $ref: '#/components/schemas/BlockReportCompact'
    TransactionReportCompact:
      type: object
      properties:
        totalTransactions:
          type: integer
          nullable: false
        reportDate:
          type: string
          format: date-time
          nullable: false
    ListTransactionReportResponse:
      type: object
      properties:
        pageCount:
          type: integer
          format: int64
        items:
          type: array
          items:
            $ref: '#/components/schemas/TransactionReportCompact'
    AccountDetailsResponse:
      type: object
      properties:
        result:
          allOf:
            - $ref: '#/components/schemas/AccountDetails'
      additionalProperties: false
    TokenDetails:
      type: object
      properties:
        name:
          type: string
          nullable: true
          description: The name of the token
        owner:
          type: string
          nullable: true
          description: The account owner of the token. Not all token's implement this interface, in which case the value will be zero address
        symbol:
          type: string
          nullable: true
          description: The symbol of the token
        totalSupply:
          type: string
          nullable: true
          description: The totalSupply of the token in hex
        decimals:
          type: string
          nullable: true
          description: The decimals of the token in hex
      additionalProperties: false
    TokenDetailsResponse:
      type: object
      properties:
        result:
          allOf:
            - $ref: '#/components/schemas/TokenDetails'
    AccountTokenDetails:
      type: object
      properties:
        tokenBalance:
          type: string
          nullable: true
        contractAddress:
          type: string
          nullable: false
        name:
          type: string
          nullable: true
          description: The name of the token
        symbol:
          type: string
          nullable: true
          description: The symbol of the token
      additionalProperties: false
    AccountTokenDetailsResponse:
      type: object
      properties:
        result:
          allOf:
            - $ref: '#/components/schemas/AccountTokenDetails'
      additionalProperties: false
    ListAccountTokensResponse:
      type: object
      properties:
        pageCount:
          type: integer
          format: int64
        items:
          type: array
          items:
            $ref: '#/components/schemas/AccountTokenDetails'
      additionalProperties: false
    AccountType:
      enum:
        - Regular
        - Contract
        - Token
      type: string
    TransactionType:
      enum:
        - CoinTransfer
        - NewToken
        - TokenTransfer
        - NewSmartContract
        - SmartContract
      type: string
    TransactionDetails:
      type: object
      properties:
        hash:
          type: string
          nullable: false
        blockHash:
          type: string
          nullable: true
          description: The hash of the block in which the transaction was executed. If this transaction is pending or was discarded, this will be null.
        blockNumber:
          type: integer
          format: int64
          nullable: true
          description: The number of the block in which the transaction was executed. If this transaction is pending or was discarded, this will be null.
        origin:
          type: string
          nullable: false
        from:
          type: string
          nullable: false
        to:
          type: string
          nullable: true
        gas:
          type: string
          nullable: false
        gasPrice:
          type: string
          nullable: false
        input:
          type: string
        nonce:
          type: integer
          format: int64
          nullable: false
        value:
          type: string
          nullable: false
        receipt:
          $ref: '#/components/schemas/TransactionReceipt'
        createdAt:
          type: string
          format: date-time
        txnFee:
          type: string
          nullable: true
        transactionType:
          $ref: '#/components/schemas/TransactionType'
        tokenTransaction:
          $ref: '#/components/schemas/TokenTransactionCompact'
      additionalProperties: false
    TransactionResponse:
      type: object
      properties:
        result:
          $ref: '#/components/schemas/TransactionDetails'
      additionalProperties: false
    TransactionReceipt:
      type: object
      properties:
        cumulativeGasUsed:
          type: string
          nullable: false
        effectiveGasPrice:
          type: string
          nullable: false
        gasUsed:
          type: string
          nullable: false
        status:
          type: string
          nullable: false
        hash:
          type: string
          nullable: false
        type:
          type: string
          nullable: false
        contractAddress:
          type: string
          nullable: false
      additionalProperties: false
    TokenTransactionCompact:
      type: object
      properties:
        tokenFromAddress:
          type: string
          nullable: false
        tokenToAddress:
          type: string
          nullable: false
        contractAddress:
          type: string
          nullable: false
        tokenCount:
          type: string
          nullable: false
        tokenSymbol:
          type: string
          nullable: false
        tokenName:
          type: string
          nullable: false
    AccountTransactionCompact:
      type: object
      properties:
        hash:
          type: string
          nullable: false
        blockNumber:
          type: integer
          format: int64
        createdAt:
          type: string
          format: date-time
        from:
          type: string
          nullable: true
        to:
          type: string
          nullable: true
        value:
          type: string
          nullable: true
        txnFee:
          type: string
          nullable: true
        status:
          type: string
          nullable: true
        transactionType:
          $ref: '#/components/schemas/TransactionType'
        errorReason:
          type: string
          nullable: true
        tokenTransaction:
          $ref: '#/components/schemas/TokenTransactionCompact'
      additionalProperties: false
    ListAccountTransactionsResponse:
      type: object
      properties:
        pageCount:
          type: integer
          format: int64
        items:
          type: array
          items:
            $ref: '#/components/schemas/AccountTransactionCompact'
      additionalProperties: false
    AccountPendingTransactionCompact:
      type: object
      properties:
        hash:
          type: string
          nullable: false
        from:
          type: string
          nullable: true
        to:
          type: string
          nullable: true
        value:
          type: string
          nullable: true
        nonce:
          type: integer
          format: int64
          nullable: false
        errorReason:
          type: string
          nullable: true
      additionalProperties: false
    ListAccountPendingTransactionsResponse:
      type: object
      properties:
        pageCount:
          type: integer
          format: int64
        items:
          type: array
          items:
            $ref: '#/components/schemas/AccountPendingTransactionCompact'
      additionalProperties: false
    BlockchainDetails:
      type: object
      properties:
        blockNumber:
          type: string
          nullable: false
        maxSupply:
          type: string
          nullable: false
        totalSupply:
          type: string
          nullable: false
        circulatingSupply:
          type: string
          nullable: false
        burntCoins:
          type: string
          nullable: false
        blockRewardsCoins:
          type: string
          nullable: false
        baseBlockRewardsCoins:
          type: string
          nullable: false
        txnFeeRewardsCoins:
          type: string
          nullable: false
        txnFeeBurntCoins:
          type: string
          nullable: false
        slashedCoins:
          type: string
          nullable: false
    BlockchainDetailsResponse:
      type: object
      properties:
        result:
          allOf:
            - $ref: '#/components/schemas/BlockchainDetails'
    ValidatorDetailsCompact:
      type: object
      properties:
        depositor:
          type: string
          nullable: false
          description: The depositor address
        validator:
          type: string
          nullable: false
          description: The validator address
        balance:
          type: string
          nullable: false
          description: The staking balance
        netBalance:
          type: string
          nullable: false
          description: The net staking balance
        blockRewards:
          type: string
          nullable: false
          description: The block rewards
        slashings:
          type: string
          nullable: false
          description: The total slashings
        isValidationPaused:
          type: boolean
          nullable: false
          description: Whether validation paused
        withdrawalBlock:
          type: integer
          format: int64
          nullable: true
          description: The withdrawal block number
        withdrawalAmount:
          type: string
          nullable: true
          description: The withdrawal amount
        lastNilBlock:
          type: integer
          format: int64
          nullable: true
          description: The last nil block
        nilBlockCount:
          type: integer
          format: int64
          nullable: true
          description: The count of nil blocks
        blockProposerDeferralResetBlock:
          type: integer
          format: int64
          nullable: true
          description: The block when the block proposer deferral status will be reset
        validatorDeferralResetBlock:
          type: integer
          format: int64
          nullable: true
          description: The block when the validator deferral status will be reset
      additionalProperties: false
    ValidatorDetails:
      type: object
      properties:
        depositor:
          type: string
          nullable: false
          description: The depositor address
        validator:
          type: string
          nullable: false
          description: The validator address
        balance:
          type: string
          nullable: false
          description: The staking balance
        netBalance:
          type: string
          nullable: false
          description: The net staking balance
        blockRewards:
          type: string
          nullable: false
          description: The block rewards
        slashings:
          type: string
          nullable: false
          description: The total slashings
        isValidationPaused:
          type: boolean
          nullable: false
          description: Whether validation paused
        withdrawalBlock:
          type: integer
          format: int64
          nullable: true
          description: The withdrawal block number
        withdrawalAmount:
          type: string
          nullable: true
          description: The withdrawal amount
        lastNilBlock:
          type: integer
          format: int64
          nullable: true
          description: The last nil block
        nilBlockCount:
          type: integer
          format: int64
          nullable: true
          description: The count of nil blocks
        blockProposerDeferralResetBlock:
          type: integer
          format: int64
          nullable: true
          description: The block when the block proposer deferral status will be reset
        validatorDeferralResetBlock:
          type: integer
          format: int64
          nullable: true
          description: The block when the validator deferral status will be reset
      additionalProperties: false
    ValidatorDetailsResponse:
      type: object
      properties:
        result:
          allOf:
            - $ref: '#/components/schemas/ValidatorDetails'
    ListValidatorsResponse:
      type: object
      properties:
        pageCount:
          type: integer
          format: int64
        items:
          type: array
          items:
            $ref: '#/components/schemas/ValidatorDetailsCompact'
    ErrorResponseModel:
      type: object
      properties:
        message:
          type: string
          nullable: true
        status:
          type: integer
          format: int32
      additionalProperties: false
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-KEY
security:
  - ApiKeyAuth: [] # use the same name as under securitySchemes